body{
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

.box{
background:#1e293b;
width:400px;
margin:auto;
padding:20px;
border-radius:10px;
}

#chat{
height:300px;
overflow:auto;
background:#0f172a;
margin-bottom:10px;
padding:10px;
}
